<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <a href="<%- user.SpotifyAuthUrl %>" class="btn btn-primary btn-block" target="_blank">Authorize with Spotify</a>
      </div>
    </div>
  </div>