<div id="dashboardContent">
  <div id="col1">
    <h2>Discover People</h2>
    <div id="peopleContainer">

    </div>
    <h2>Discover Artists</h2>
    <div id="artistsContainer">

    </div>
  </div>
  <div id="col2">
    <h2>Feed</h2>
    <div id="feedContainer">

    </div>
  </div>
</div>