<img src="../images/timbreHomeLogo.PNG" alt="Welcome to Timbre" id="timbreHomeLogo" />
<p>A place for music lovers to connect.</p>
<a href="users/login" class="timbreButton homeButton">Login</a>
<a href="users/register" class="timbreButton homeButton">Register</a>