<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="../masterstyles.css" type="text/css" rel="stylesheet" crossorigin="anonymous" />
    <title>Timbre</title>
  </head>
  <body>
    <div class="nav">
      <div id="leftNavItems">
        <a href="/users/login" class="navLink">Login</a>
        <a href="/users/register" class="navLink">Register</a>
        <a href="/dashboard" class="navLink">Dashboard</a>
        <a href="/profile" class="navLink">My profile</a>
        <a href="/users/logout" class="navLink">Logout</a>
      </div>
      <div id="centerNavItems">
        <img src="../images/timbreHeaderLogo.PNG" alt="Timbre logo in header" id="timbreHeaderLogo" />
      </div>
      <div id="endNavItems">
        <!-- TODO: Add logic for user image, or load nothing -->
      </div>
    </div>
    <div class="container"><%- body %></div>

   
  </body>
</html>