<div id="loginRegContainer">
  <div class="loginRegHeader">
    <h1 class="loginRegTitle">Login &nbsp</h1>
    <span><img src="../images/timbreIcon.PNG" alt="Timbre icon" id="timbreIconLoginReg" /></span>
  </div>
  <%- include('./partials/messages') %>
  <form action="/users/login" method="POST">
    <div class="inputSection">
      <div class="inputLabel">
        <label for="email">Email</label>
      </div>
      <div class="inputInput">
        <input
          type="email"
          id="email"
          name="email"
          class="timbreInputBox"
          placeholder="Enter your email"
        >
      </div>
    </div>
    <div class="inputSection">
      <div class="inputLabel">
        <label for="password">Password</label>
      </div>
      <div class="inputInput">
        <input
          type="password"
          id="password"
          name="password"
          class="timbreInputBox"
          placeholder="Enter your password"
        >
      </div>
    </div>
    <button type="submit" >Login</button>
  </form>
  <p>
    No Account? <a href="/users/register" class="timbreSimpleLink">Register</a>
  </p>
</div>