<div id="aboutInfo">
    <div id="profileAvatar">

    </div>
    <div id="profileText">
        <div id="profileTopfold">
            <div id="nameAndLocation">
        
            </div>
            <div id="profileInteractBtn">

            </div>
        </div>
        <div id="profileBio">

        </div>
        <div id="findMeOn">
            <div id="profSpotifyLink">

            </div>
            <div id="profFacebookLink">

            </div>
            <div id="profTwitterLink">

            </div>
            <div id="profInstaLink">

            </div>
            <div id="profSoundcloudLink">

            </div>
        </div>
    </div>
</div>

<div id="profMusicContainer">
    <div id="top100Tab">
        <div id="top100ArtistsContainer">

        </div>
    </div>
    <div id="mutualInterestsTab">
        <div id="mutualInterestsContainer">
            
        </div>
    </div>
</div>
