* {
    font-family: roboto, arial, sans-serif;
}

body {
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    background-color: white;
    width: 60%;
    height: 90vh;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -3px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 11px -3px rgba(153,153,153,1);
    box-shadow: 0px 0px 11px -3px rgba(153,153,153,1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.nav {
    background-color: #2D2D2D;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.navLink {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 22px;
    background: none;
    border: 0;
    padding: 0 15px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}

.navLink:hover {
    background-color: #FF2CA3;
}

#timbreHeaderLogo {
    height: 40px;
}

#leftNavItems, #centerNavItems, #endNavItems {
    width: 100%;
}

#leftNavItems {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#centerNavItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#endNavItems {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#usernameInNav {
    line-height: 0;
    color: #f2f2f2;
    margin-right: 1vw;
}

#nAvatar {
    height: 40px;
}

.timbreButton {
    color: white;
    text-decoration: none;
    background-color: #ff2ca3;
    width: 40%;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.timbreButtonOverride {
    border: 0;
}

.timbreSimpleLink {
    color: #ff2ca3;
}

/* Scrollbar styles */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}

/* Homepage styles */

.homeButton {
    margin-top: 20px;
}

#timbreHomeLogo {
    width: 30%;
    margin-top: 10vw;
}

/* Register/ Login styles */

#loginRegContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.loginRegHeader {
    margin-top: 20vh;
}

.loginRegButton {
    margin-top: 20px;
    width: 100%;
}

.inputLabel {
    margin-top: 10px;
}

.timbreInputBox {
    border-radius: 4px;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 1px;
    height: 25px;
    width: 100%;
}

.inputSection {
    width: 100%;
}

.timbreInputBox:focus {
    border-color: #ff2ca3;
}

.loginRegHeader {
    margin-top: 20vh;
    display: flex;
    flex-flow: row nowrap;
}

#timbreIconLoginReg {
    height: 33px;
    width: 42px;
    vertical-align: bottom;
}

.loginRegTitle {
    line-height: 0;
}

.loginRegHeader span {
    padding-top: 8px;
}

#loginRegContainer form {
    width: 40%;
}

/* First time setup styles */

#setupContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: scroll;
}

#setupContainer form {
    width: 50%;
}

/* Dashboard styles */

#dashboardContent {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
}

#peopleContainer, #artistsContainer, #feedContainer {
    overflow-y: scroll;
}

#col1 {
    width: 40%;
    text-align: left;
}

#col2 {
    width: 58%;
    text-align: left;
}

#peopleContainer {
    height: 35vh;
}

#artistsContainer {
    height: 35vh;
}

#dashboardContent h2 {
    font-weight: 400;
}

/* Profile styles */

#aboutInfo {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
}

#profileAvatar {
    width: 30%;
    margin-right: 15px;
}

#profileAvatar img {
    width: 100%;
}

#profileTopfold {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#nameAndLocation h1 {
    line-height: 0;
}

#findMeOn {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
}

.socialIconContainer {
    width: 2vw;
    margin-right: 1vw;
}

.socialIcon {
    width: 100%;
}

#profileBio {
    margin-top: -15px;
}

#profileAvatar img {
    border-radius: 100%;
}

.profileButton {
    padding: 10px;
}

#profileInteractBtn {
    margin-top: 10px;
}

#profMusicContainer {
    margin-top: 50px;
    width:80%;
}

#profileText {
    display: flex;
    flex-flow: column nowrap;
}

#top100ArtistsContainer {
    display: flex;
    flex-flow: row wrap;
    height: 60vh;
    overflow-y: scroll;
    justify-content: space-around;
}

.top100ArtistLink img, .mutualArtistLink img {
    width: 100%;
}

.singleTop100ArtistContainer, .singleMutualInterestContainer {
    width: 18%;
    margin-bottom: 10px;
}

.singleTop100ArtistContainer a, .singleMutualInterestContainer a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.top100ArtistLink p, .mutualArtistLink p {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.top100ArtistLink, .mutualArtistLink {
    text-decoration: none;
    transition-duration: 0.4s;
}

.top100ArtistLink:hover, .mutualArtistLink:hover {
    -webkit-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    -moz-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    transition-duration: 0.4s;
}

#topArtistsTabLabels {
    display: flex;
    flex-flow: row nowrap;
    font-size: 22px;
    cursor: pointer;
}

#top100TabLabel, #mutualArtistsTabLabel {
    margin: 0 0.5vw 20px 0.5vw;
}

#top100TabLabel {
    margin: 0 0.5vw 20px 0.5vw;
    font-weight: bold;
    color: #ff2ca3;
}

#mutualInterestsContainer {
    display: none;
    flex-flow: row wrap;
    height: 60vh;
    overflow-y: scroll;
    justify-content: space-around;
}

/* Dashboard feed styles */

#feedContainer {
    display: flex;
    flex-flow: column nowrap;
    height: 80vh;
    overflow-y: scroll;
}

.recentlyPlayedTrack a {
    display: flex;
    flex-flow: row nowrap;
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 5px;
}

.recentlyPlayedImageContainer {
    width: 15%;
    display: flex;
}

.recentlyPlayedImageContainer img {
    width: 100%;
}

.recentlyPlayedTextInfo {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px;
    line-height: 1.5em;
}

.rPTrackName {
    font-weight: bold;
    font-size: 1.1em;
}

.rPTrackAlbum {
    color: gray;
}

.recentlyPlayedTrack a:hover {
    -webkit-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    -moz-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    transition-duration: 0.4s;
}

.recentlyPlayedTrack {
    margin: 5px;
}

/* Dashboard discover people styles */

.discoverPersonContainer a {
    display: flex;
    flex-flow: row nowrap;
    transition-duration: 0.4s;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.discoverPersonAvatar {
    width: 20%;
    display: flex;
}

.discoverPersonAvatar img {
    width: 100%;
    border-radius: 100%;
}

.discoverPersonText {
    margin-left: 10px;
    line-height: 1.4em;
}

.discoverPersonUsername {
    font-weight: bold;
    font-size: 18px;
}

.discoverPersonBecauseYouBothLike {
    font-size: 0.9em;
    color: gray;
}

.discoverPersonContainer {
    padding: 6px;
}

.discoverPersonContainer a:hover {
    -webkit-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    -moz-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    transition-duration: 0.4s;
}

/* Dashboard discover artists styles */

.discoverArtistContainer a {
    display: flex;
    flex-flow: row nowrap;
    transition-duration: 0.4s;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.discoverArtistContainer {
    padding: 6px;
}

.discoverArtistImage {
    width: 20%;
    display: flex;
}

.discoverArtistImage img {
    width: 100%;
    object-fit: cover;
}

.discoverArtistText {
    margin-left: 10px;
    line-height: 1.4em;
    width: 80%;
}

.discoverArtistName {
    font-weight: bold;
    font-size: 18px;
}

.discoverListenedToBy {
    font-size: 0.9em;
    color: gray;
}

.genresContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.genre {
    background-color: #e8e8e8;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    padding: 3px;
    color: gray;
    font-size: 0.8em;
    margin: 4px;
}

.discoverArtistContainer a:hover {
    -webkit-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    -moz-box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    box-shadow: 2px 0px 5px -1px rgba(120,120,120,1);
    transition-duration: 0.4s;
}